name: Imfit CI

on:
  push:
#      branches: [ main ]
#  pull_request:
#      branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
      runs-on: ubuntu-latest
      
      # Steps are the individual actions for each job
      steps:
        # Check-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2
      
        # Run a set of commands using the shell
        - name: setup
          run: |
            sudo apt-get update -qq
            sudo apt-get install -y scons
            sudo apt-get install -y libfftw3-dev
            sudo apt-get install -y libcfitsio-dev
            sudo apt-get install -y libgsl-dev
            sudo apt-get install -y libnlopt-dev
            sudo apt-get install -y cxxtest
      
        - name: unit tests
          run: ./run_unit_tests.sh
      
        - name: build makeimage
          run: scons makeimage

        - name: build imfit
          run: scons imfit
